{% extends 'base.html.twig' %}

{% block title %}Login page{% endblock %}

{% block body %}

    <div class="super_container">

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->
            <div class="top_bar">
                <div class="top_bar_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                    <ul class="top_bar_contact_list">
                                        <li><div class="question">Have any questions?</div></li>
                                        <li>
                                            <div>(009) 35475 6688933 32</div>
                                        </li>
                                        <li>
                                            <div>info@elaerntemplate.com</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Content -->
            <div class="header_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                <div class="logo_container">
                                    <a href="#">
                                        <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                                            <div class="logo_img"><img src="{{ asset('images/logo.png') }}" alt=""></div>
                                            <div class="logo_text">learn</div>
                                        </div>
                                    </a>
                                </div>
                                <nav class="main_nav_contaner ml-auto">
                                    <ul class="main_nav">
                                        <li><a href="{{ path('elearn') }}">home</a></li>
                                        <li ><a href="{{ path('courses') }}">courses</a></li>
                                        <li class=""><a href="{{ path('app_register') }}">Register</a></li>
                                        <li class="active"><a href="{{ path('app_login') }}">Login</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <!-- Home -->

        <div class="home">
            <!-- Background image artist https://unsplash.com/@thepootphotographer -->
            <div class="home_background parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/contact.jpg') }}" data-speed="0.8"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content text-center">
                                <div class="home_title">Login</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact -->

        {% if error %}
            <div class=" m-3 text-center w-75 mx-auto alert-danger py-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <div class="contact">
            <div class="container-fluid">
                <div class="row row-xl-eq-height">
                    <div class="col-xl-3">
                    </div>
                    <!-- Contact Content -->
                    <div class="col-xl-6">
                        <div class="contact_content">
                            <div class="contact_form_container">
                                <form action="#" id="contact_form" class="contact_form" method="post">
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}">
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 contact_name_col">
                                                <label for="name">Name:</label>
                                                <input type="text" name="email" class="contact_input" required="required" value="{{ last_username }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 contact_name_col">
                                            <label for="password">Password:</label>
                                            <input type="password" name="password" class="contact_input" required="required">
                                        </div>
                                    </div>
                                    <input type="submit" class="contact_button" value="Login">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                </div>

            </div>

        </div>
    </div>


    <!-- Footer -->

    <footer class="footer">
        <div class="container">
            <div class="row">

                <!-- About -->
                <div class="col-lg-3 footer_col">
                    <div class="footer_about">
                        <div class="logo_container">
                            <a href="#">
                                <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                                    <div class="logo_img"><img src="{{ asset('images/logo.png') }}" alt=""></div>
                                    <div class="logo_text">learn</div>
                                </div>
                            </a>
                        </div>
                        <div class="footer_about_text">
                        </div>

                        <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

{% endblock %}
